.header{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: rgba(245, 243, 240, 1);
}

.container-perfil{
    width: 1024px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding: 80px;
}

.img-profile img{
    width: 350px;
    height: auto;
    margin: 0 auto;
    border-radius: 175px;
}

.texto h2{
    font-weight: 900;
    font-size: 126px;
    line-height: 112px;
    letter-spacing: -2.17px;
}

.container{
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.texto{
    margin: 0 auto;
}

.texto p{
    margin-bottom: -90px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    color: rgba(158, 140, 108, 1);
}

.btn a{
    margin-top: -70px;
    display: inline-block;
    background-color: rgba(6, 153, 166, 1);
    font-weight: 700;
    padding: 20px 50px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 24px;
    letter-spacing: 2px;
}

.lateral-1{
    width: 350px;
    height: auto;
    align-items: center;
    margin: 0 auto;
    line-height: 24.2px;
    display: block;
}

.lateral-1{
    margin-top: 100px;
}

.lateral-1 li{
    list-style: none;
    line-height: 24.2px;
}

.lateral-1 ul{
    margin: -40px;
}


.lateral-1 h2{
    color: rgba(158, 140, 108, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
}

.lateral-2{
    width: 635px;
    height: auto;
}

.lateral-2 h2{
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0px;
}

.texto-lateral2-1{
    margin-bottom: 80px;
}

.texto2-lateral2-2{
    margin-top: 80px;
}

.quadrado-azul1{
    width: 71px;
    height: 10px;
    background-color: #0699A6;
    margin-bottom: 80px;
}

.texto2-lateral2-3{
    margin-bottom: 66px;
}

.texto2-lateral2-4{
    margin-bottom: 66px;
}

.texto2-lateral2-5{
    margin-bottom: 66px;
}

.texto2-lateral2-6{
    margin-bottom: 66px;
}

.texto-lateral2 p{
    font-weight: 400px;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0px;
}

.texto-destaque-lat2{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: rgba(158, 140, 108, 1);
    ;
}

.quadrado-azul{
    width: 71px;
    height: 10px;
    background-color: #0699A6;
    margin-bottom: 70px;
}

.texto-awards{
    margin-top: 100px;
}

.texto-awards ul{
    margin: -40px;
    padding: 40px;
}

.texto-career{
    width: 350px;
    height: 510px;
    margin-top: 100px;
}

.texto-career p{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}

.palavras-destaque{
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
}

.seta{
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0px;
}

.recent-works{
    margin-top: 100px;
}

.recent-works a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0px;
    display: block;
    color: rgba(6, 153, 166, 1);
}

.footer{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: rgba(245, 243, 240, 1);
}

.footer-box{
    width: 793px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 140px;
}

.footer-box h2{
    font-weight: 900;
    font-size: 66px;
    line-height: 82px;
    letter-spacing: -1.14px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.footer-box h3{
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0px;
    margin: 0 auto;
    color: rgba(6, 153, 166, 1);
}

.info{
    width: 242.96px;
    height: 25.14px;
    margin: 0 auto;
    padding: 19px;
    list-style: none;
    letter-spacing: 35px;
}

.info ul{
    display: flex;
    justify-content: center;
    padding: 5px 1px;
}

.info li{
    margin: 0 auto;
    list-style: none;
}

.info a{
    align-items: center;
}