.container{
    width: 1024px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box{
width: 300px;
height: auto;
background-color: black;
border-radius: 16px;
border: 1px solid white;
padding: 10px;
}

.box img{
    width: auto;
    height: 200px;
    border-radius: 16px;
}

.box h2{
    color: white;
    text-align: center;
    font-size: 30;
}

.box p{
    color: white;
}

.box a{
    color:white;
    border-radius: 8px;
    border: 15px;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: none;
    text-align: center;
}